<div class="integer-control-cnt">
  <button class="button {{buttonClass}} minus-btn"
          (click)="changeStep(false)">
            <span class="icon is-small">
              <i class="fas fa-minus"></i>
            </span>
  </button>
  <input #numberInput
          class="input {{buttonClass}} integer-control-input"
          type="text"
          [value]="valueStr"
          [placeholder]="placeholder || ''"
          [readonly]="readonly"
          (change)="checkValue($event)"
          (blur)="checkValue($event); blur.emit($event)"
          (focus)="focus.emit($event)"
          (keypress)="onKeyPress($event); keypress.emit($event)"
          (keyup)="keyup.emit($event)"
          (keydown)="keydown.emit($event)">
  <button class="button {{buttonClass}} plus-btn"
          (click)="changeStep(true)">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
  </button>
</div>
