.buttons-bottom {
  background: white;
  border: 0;
  bottom: 0;
  display: flex;
  left: 0;
  overflow: hidden;
  padding: 0;
  right: 0;
  white-space: nowrap;
  z-index: 100;
}

.buttons-bottom >>> .button {
  display: flex;
  flex: 1;
  height: 60px;
  border-radius: 0 !important;
}

.buttons-bottom >>> .button:not(:first-child) {
  margin-left: 3px !important;
  box-shadow: none !important;
}

.bottom-spacer {
  height: 60px;
}
