<la-recolte-number-field #testInput
                          [(value)]="inputTest.value"
                          [toFixed]="toFixed"
                          [showAllDecimals]="showAllDecimals"
                          [min]="min"
                          [max]="max"
                          [step]="step"
                          (change)="onEvent('change', $event)"
                          (blur)="onEvent('blur', $event)"
                          (focus)="onEvent('focus', $event)"
                          (keyup)="onEvent('keyup', $event)"
                          (keydown)="onEvent('keydown', $event)"
                          (keypress)="onEvent('keypress', $event)">
</la-recolte-number-field>

<p>Value: <input type="text" [(ngModel)]="inputTest.value"></p>
<p>toFixed: <input type="text" [(ngModel)]="toFixed"></p>
<p>step: <input type="text" [(ngModel)]="step"></p>
<p>min: <input type="text" [(ngModel)]="min"></p>
<p>max: <input type="text" [(ngModel)]="max"></p>
<p>placeholder: <input type="text" [(ngModel)]="placeholder"></p>
<p>showAllDecimals: <input type="checkbox" [(ngModel)]="showAllDecimals"></p>

<button type="button" class="button is-primary" (click)="focusInput()">
  Focus
</button>

<la-recolte-action-bar>
  <button type="button" class="button is-primary is-large">
    <span class="icon is-medium">
      <i class="fas fa-chevron-left"></i>
    </span>
  </button>
  <button type="button" class="button is-primary is-large">
    <span class="icon is-medium">
      <i class="fas fa-check"></i>
    </span>
  </button>
</la-recolte-action-bar>

